table.table.table-striped#bombTable
    thead
        tr
            th(scope="col") #
            th(scope="col") Distance
            th(scope="col") Player
            th(scope="col") OVR
            th(scope="col") User
    tbody
        each bomb, index in bombs
            tr
                th(scope="col")= index + 1
                td= bomb.distance
                td= bomb.playerName
                td= bomb.playerOvr
                td= bomb.user.displayName
